* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
}
.signika-negative-bold {
  font-family: "Signika Negative", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
}

body {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(Images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
  background-size: 100vw 100vh;
  background-position: top;
}

h1 {
  margin: 5vh;
  color: rgb(115, 161, 225);
}

h2 {
    font-size: 2.5rem;
    margin-top: 2vh;
}

.white-back {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 1em;
  width: 50%;
  min-width: fit-content;
  margin-bottom: 7vh;
  letter-spacing: 0.11rem;
 color: rgb(55, 75, 102);
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.adjacent {
  display: flex;
  justify-content: center;
  column-gap: 4vw;
  color: rgb(68, 92, 125);
}

.denmark,
.uk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-container {
  max-width: 50%;
  min-width: 40%;
  border-radius: 3vw;
}

img {
  width: 50%;
}

img.wind-dir {
  width: 10%;
}

strong {
    font-weight: bold;
}
